* {
    box-sizing: border-box;
    font-family: 'segoe UI';
}

body {
    margin: 0;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    left: 0;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.logo .zabdesk {
    width: 10%;
    height: 20%;
    margin: 1.3% 0 0 1%;
    cursor: pointer;
}

.logo .person {
    width: 4%;
    height: 4%;
    margin: 1.3% 1% 0 60%;
    border-radius: 100px;
    cursor: pointer;
}

.home,
.sign-out {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 2% 0 1% 1%;
    background-color: rgb(214, 228, 228);
    color: black;
    width: 8%;
    height: 45px;
    justify-content: center;
    border-radius: 5px;
}

.home:hover,
.sign-out:hover {
    background-color: rgb(174, 189, 189);
}

.navbar {
    z-index: 1000;
}


.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: rgb(241, 233, 233);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: relative;
    font-weight: 500;
}

.navbar li a:hover {
    color: rgb(255, 255, 255);
}

.navbar li a::after {
    content: '';
    height: 2.5px;
    width: 95%;
    background: rgb(255, 255, 255);
    position: absolute;
    left: 3px;
    bottom: 1px;
    opacity: 0;
    transition: all 0.2s;
}

.navbar li a:hover::after {
    opacity: 1;

}

.navbar ul {
    list-style-type: none;
    margin: 10px 0 0 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(12 84 163);
}


.navbar ul li ul {
    position: absolute;
    top: 19.8%;
    width: 15%;
    background-color: #fff;
    z-index: 1000;
    display: none;

}

.navbar ul li ul li {
    width: 100%;
    border-top: black;
}

.navbar ul li ul a {
    color: black;
}

.navbar ul li ul a:hover {
    color: rgb(12 84 163);
}


.navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.navbar ul li:hover>ul {
    display: initial;
}

.main {
    display: flex;
    position: relative;
    margin: 1%;
}

.left {
    width: 25%;
    height: 400px;
    background-color: rgb(217, 228, 228);
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.left img {
    margin-top: 2%;
    width: 45%;
    border: 10px solid black;
    align-items: center;
    cursor: pointer;
}

.left img:hover {
    opacity: 80%;
}

/* IMP */
.menu-toggle {
    display: none;
}

#display_image {
    width: 180px;
    height: 200px;
    border: 4px solid black;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
}

#image_input {
    display: none;
}

.upload-button {
    background-color: #d9e4e4;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.upload-button:hover {
    background-color: #bcd2d2;
}

.left .upload {
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    margin-top: 30px;
}

.left .upload:hover {
    color: rgb(12 84 163);
    text-decoration: underline;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.left .admit-card {
    /* background-color: white; */
    width: 90%;
    text-align: center;
    margin-top: 7%;
    cursor: pointer;
    border-radius: 5px;
}

.admit-card button {
    background-color: #d9e4e4;
    border: none;
}

.left .admit-card button:hover {
    background-color: rgb(186 206 206);
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.right {
    width: 100%;
    height: 800px;
    background-color: rgb(217, 228, 228);
    border-radius: 5px;
}

.right .header {
    background-color: rgb(12 84 163);
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 5px 5px 0 0;
}

.right .header h3 {
    margin-bottom: 10px;
}

.pageTitle {
    background-color: rgb(12 84 163);
    margin: 3.9%;
    width: 92%;
}

.pageTitle th {
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 0.9rem;
}

.studentSemesterHeader {
    margin: 3% 4%;
    width: 92%;
    border-collapse: collapse;
    text-align: center;
}

.studentSemesterHeader td {
    border: 1px solid grey;
}

form {
    margin: 20px auto auto 34px;
    margin-left: 30px;
}

.main-table {
    border-collapse: collapse;
    width: 95.5%;
    margin-left: 0.5%;

}

.main-table th {
    border: 1px solid rgb(255, 255, 255);
    padding: 0.5% 0;
    width: 40%;
    color: white;
    font-weight: 400;
    font-size: 0.9rem;
    background-color: rgb(12 84 163);
}

.main-table .last-field {
    border-top: 1px solid grey;
}

.main-table td {
    border: 1px solid grey;
    padding-left: 10px;
    text-align: left;
    background-color: white;
}


.main-table .inputs th {
    padding: 15px;
}


.main-table select,
input {
    padding: 7px 25px 7px 2px;
    margin-left: 0;
}


.right .buttons {
    display: flex;
    justify-content: center;
    margin: 5% 0;
}

.right .buttons input {
    padding: 1.5% 8%;
    border: 0.5px solid grey;
    border-radius: 3px;
    font-weight: 500;
    cursor: pointer;
}

.right .buttons input:hover {
    background-color: rgb(12 84 163);
    color: white;
}

.right .buttons .submit {
    margin: 0 5%;
}


.footer {
    margin-top: 5%;
    background-color: rgb(233, 236, 238);
    padding-top: 4%;
    border-top: 1px solid rgb(221, 212, 212);
}


.img1 {
    width: 15%;
    border: 1px solid grey;
    padding: 1%;
    margin-left: 3%;
}

.img2 {
    width: 12%;
    margin-left: 65%;
    border: 1px solid grey;
    padding: 1%;
}

.footer ul {
    text-align: center;
}

.footer li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    margin-top: 5%;
}

.footer li a {
    color: rgb(0, 0, 0);
    padding: 14px 2px;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
}

.footer li a:hover {
    color: rgb(12 84 163);
}

.copyrights {
    background-color: rgb(12 84 163);
    color: white;
    text-align: center;
}

.copyrights p {
    margin: 0;
    padding: 1%;
}




@media (max-width: 800px) {
    .logo .zabdesk {
        width: 25%;
        height: 30%;
        margin: 1.3% 0 0 1%;
    }

    .logo .person {
        /* width: 6%;
        height: 6%;
        margin: 1.3% 1% 0 55%; */
        display: none;
    }

    .navbar ul li ul {
        top: 31%;
        width: 50%;
        left: 25%;
        right: 25%;
    }

    .main {
        display: block;
    }

    .left {
        width: 40%;
        position: relative;
        left: 30%;
        margin-top: 40px;
    }

    .right {
        width: 100%;
        margin-top: 40px;
    }

    .home,
    .sign-out {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .menu {
        display: none;
        list-style-type: none;
        padding: 0;
    }

    .menu-toggle input {
        display: none;
    }

    .menu-toggle .hamburger {
        display: block;
        width: 25px;
        height: 2px;
        background-color: #333;
        position: relative;
        cursor: pointer;
        margin: 15px;
    }

    .menu-toggle .hamburger span {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #333;
        transition: transform 0.3s ease;
    }

    .menu-toggle .hamburger span:before,
    .menu-toggle .hamburger span:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #333;
        transition: transform 0.3s ease;
    }

    .menu-toggle .hamburger span:before {
        top: -8px;
    }

    .menu-toggle .hamburger span:after {
        top: 8px;
    }

    .menu-toggle input:checked~.hamburger span {
        transform: rotate(45deg);
    }

    .menu-toggle input:checked~.hamburger span:before {
        transform: translateY(8px) rotate(90deg);
    }

    .menu-toggle input:checked~.hamburger span:after {
        transform: translateY(-8px) rotate(90deg);
    }

    .menu-toggle input:checked~.menu {
        display: grid;
        justify-content: center;
        justify-items: center;
    }

    .menu li {
        text-align: center;
        margin-top: 10px;
    }

    .menu a {
        display: block;
        text-decoration: none;
        color: #333;
        font-weight: bold;
        padding: 5px;
    }

    .desktop-nav {
        display: none;
    }

    .dropdown {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 0;
        list-style: none;
        z-index: 1;
    }

    .dropdown li {
        padding: 10px;
    }

    .dropdown li a {
        color: #333;
        text-decoration: none;
    }

    /* Show the dropdown menu when hovering over the parent item */
    .menu li:hover .dropdown {
        display: block;
    }

    /* Show the dropdown menu when the parent item is clicked */
    .menu li:focus-within .dropdown {
        display: block;
    }


}