*{
    box-sizing: border-box;
    font-family: 'segoe UI';
}

body{
    margin: 0;
}

.logo{
    display: flex;
    justify-content: center;
}


.logo img{
    width: 10%;
    height: 20%;
    margin: 10px 0 0 10px;
    /* filter: brightness(0) invert(1);
    color: transparent; */
}

.navbar li{
    float: left;
}

.navbar li a{
    display: block;
    color: rgb(241, 233, 233);
    text-align: center; 
    padding: 14px 16px;
    text-decoration: none;
    position: relative;
    /* margin: 0 5px; */
}

.navbar li a:hover{
    /* background-color: white; */
    color: rgb(255, 255, 255)  ;
}

/* .navbar ul li a:hover{
    border-radius: 5px;
    box-shadow: 0 0 5px #33ffff,
                0 0 5px #66ffff;
} */

.navbar li a::after{
    content: '';
    height: 2px;
    width: 95%;
    background: rgb(255, 255, 255);
    position: absolute;
    left: 3px;
    bottom: 1px;
    opacity: 0;
    transition: all 0.2s;
}

.navbar li a:hover::after{
    opacity: 1;

}

.leftnav{
    margin-left: 400px;
}


.navbar ul{
    list-style-type: none;
    margin: 10px 0 0 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(12 84 163);
}



.main{
    margin: 25px 0 0 45px;
    display: flex;
    position: relative;

}

.login{
    background-color: rgb(217, 228, 228);
    width: 400px;
    height: 500px;
    border-radius: 5px;
    margin: 0 20px 0 0;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    /* place-items: center; */

}

.login .header{
    background: rgb(12 84 163);
    border-radius: 5px 5px 0 0;
    height: 60px;
    color: white;
    text-align: center;
}

.login p{
    font-weight: 500;
    width: 350px;
    margin-left: 20px;
}

form{
    margin-left: 20px;
}

form label{
    display: block;
    padding: 1px 0;
    font-weight: 600;
    font-size: 0.9rem;
}


form input{
    padding: 10px;
    margin: 10px 0;
    width: 90%;
    border-radius: 5px;
    border: none;
}

form input[type='submit']{
    margin: 20px 0;
    background-color: rgb(12 84 163);
    color: white;
    letter-spacing: 1px;
}

form input[type='submit']:hover{
    cursor: pointer;
    background-color: rgb(0, 81, 255);
}


.forgotpassword{
    margin-left: 20px;
}

.forgotpassword a{
    text-decoration: none;
    color: rgb(12 84 163);
}


.noticeboard{
    background-color: rgb(217, 228, 228);
    width: 850px;
    height: 500px;
    border-radius: 5px;
    overflow: auto;
}

.header2{
    background: rgb(12 84 163);
    border-radius: 5px 5px 0 0;
    height: 60px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.notice{
    width: 25%;
    height: 35%;
    text-align: center;
    display: inline-block;
    margin: 3%;
    
}

.one{
    background: rgb(176, 235, 15);
}
.two{
    background: rgb(8, 219, 103);
}

.three{
    background: rgb(158, 15, 194);
}
.four{
    background: rgb(176, 235, 15);
}
.five{
    background: rgb(8, 219, 103);
}

.six{
    background: rgb(158, 15, 194);
}



.footer{
    margin-top: 5%;
    background-color: rgb(233, 236, 238);
    padding: 4% 0;
    border-top: 1px solid rgb(221, 212, 212);
}


.img1{
    width: 15%;
    border: 1px solid grey;
    padding: 1%;
    margin-left: 3%;
}

.img2{
    width: 12%;
    margin-left: 65%;
    border: 1px solid grey;
    padding: 1%;
}

.footer li{
    float: left;
    list-style-type: none;
}

.footer li a{
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 2px;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
}

.footer li a:hover{
    color: rgb(12 84 163);
}

.navleft{
    margin-left: 500px;
}

.copyrights{
    background-color: rgb(12 84 163);
    color: white;
    text-align: center;
}

.copyrights p{
    margin: 0;
    padding: 1%;
}

