/* Semester Result CSS */


.cgpa, .semester-result, .semester-gpa{
    width: 92%;
    margin: 5% 3.8% 1% 3.8%;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid grey;
    background-color: white;
}

.course-name{
    text-align: left;
    padding-left: 1%;
}

.semester-gpa{
    margin: 0 3.8%;
}

.semester-result th, .semester-gpa th{
    border: 1px solid grey;
    background-color: rgb(12, 84, 163);
    color: #fff;
    font-weight: 500;
    padding: 0.3% 0;
}

.cgpa td, .semester-result td, .semester-result td{
    border: 1px solid grey;
}

#last{
    margin-bottom: 2%;
}