.head{
    background-color: rgb(12 84 163);
    color: white;
    font-weight: 500;
    width: 92%;
    margin: 5% 3.8% 0 3.8%;
    text-align: center;
}

.registered-courses{
    width: 92%;
    margin: 1% 3.8% 3% 3.8%;
    border: 1px solid gray;
    border-collapse: collapse;

}

.registered-courses th{
    border: 1px solid white;
    background-color: rgb(12 84 163);
    font-weight: 500;
    color: #fff;
    padding: 0.7%;
}

.registered-courses td{
    border: 1px solid grey;
    background-color: #fff;
    padding: 1%;
}

.registered-courses .center{
    text-align: center;
    padding: 0 10px;
}

.buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.buttons input{
    padding: 1.5% 6%;
    border: 0.5px solid grey;
    background-color: #fff;
    border-radius: 3px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 0;
}

.buttons input:hover{
    background-color: rgb(12 84 163);
    color: white;
}

.buttons .submit{
    margin: 0 2%;
}

